:root {
  --light-gray: #bbb;
}

.tab-group {
  .tab-title {
    text-align: center;
    border-bottom: 1px solid var(--primary);
    color: var(--light-gray);
    padding: 5px 0;
    cursor: pointer;
    &.active {
      background: var(--primary);
      color: white;
    }
  }
}

.content {
  padding: 10px;
}

.main-input-group {
  margin-bottom: 20px;
  input, button {
    border-radius: 0;
  }
}

.task-container {
  .task-card {
    align-items: center;
    border: 1px solid #aaa;
    padding: 10px 5px;
  }
  .icon-btn {
    margin: 0 5px;
    color: var(--light-gray);
    font-size: 17px;

    &.icon-edit {
      &:hover {
        color: var(--gray);
      }
    }

    &.icon-triger {
      &:hover, &.active {
        color: var(--success);
      }
    }

    &.icon-rm {
      &:hover {
        color: var(--danger);
      }
    }
  }
}

.icon-btn {
  cursor: pointer;
}
